.albumdetailslayout{
    display: grid;
    grid-template-columns: 200px 1fr ;
    grid-template-rows: 100px 200px 500px;
    grid-template-areas: "detailtitle detailtrack"
                         "detailtitle detaildesc"
                         "detailtitle detailvideo" ;
    color: white;
    margin: 50px auto;
    gap: 30px;
    max-width: 1200px;
}

.albumdetailh2{
    grid-area: detailtitle;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    font-family: 'Stardom-Regular', serif;
    border-right: 2px solid red;
}
.albumdetailh2 h2{
    font-size: 3.8rem;
    font-weight: 900;
    text-transform: uppercase; 
    letter-spacing: 4px;       
    color: #ffffff;
}
.detailtrackh2{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: 900;
    letter-spacing: 4px;
    color: #ffffff;
    white-space: nowrap;
}
.detailtrack{
    grid-area: detailtrack;
}
.detailtrack h3{
    font-size: 3rem;
    letter-spacing: -0.5px;
    color: #FF66B2;
    font-weight: 900;
    text-align: center;
}
.detaildesc{
    grid-area: detaildesc;
}
.detaildesc p{
    font-size: 1.9rem;
    color: #D1D1D6;
}
.detailvids{
    grid-area: detailvideo;
    width: 100%;
    max-width: 500px;
    margin: 0;
}
.iframe{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .albumdetailslayout{
        margin-top: 100px;
        min-height: 100vh;
        grid-template-columns: 50px 1fr;
        grid-template-rows: auto auto 500px;
        gap: 10px;
        max-width: 1000px;
    }
    .albumdetailh2{
        border-right: 2px solid cyan;
    }
    .albumdetailh2 h2{
        font-size: 1.2rem;
    }
    .detailtrack h3{
        font-size: 2rem;
        color: white;
    }
    .detaildesc p{
        font-size: 1.4rem;
        margin: 0 5px;
        font-family: sans-serif;
    }
    .iframe{
        max-width: 96%;
        height: 100%;
    }
}