.album{  
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "stack";
    box-sizing: border-box;
    margin: 20px;
    box-shadow: 0 0 50px rgba(255, 183, 181, 0.5); /* Apricot Glow */
    width: 500px;
    height: 600px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.albumimg{
    grid-area: stack;
    border: 1px solid red;
    border-radius: 20px;
    height: 600px;
    width: 500px;
    transition: filter 0.3s ease;
}
.albumdetails{
    grid-area: stack;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 2;
    font-size: 3em;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    
}
.album:hover .albumdetails{
    opacity: 1;
    cursor: pointer;
    text-align: center;
}
.album:hover .albumimg{
    filter: blur(8px);
    color: black;
}
