.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    box-shadow: none;
    background-color:#9576d4f3;  
}
.navbarlist {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    margin-left: 50px;
}
.navbarlist li{
    font-size: 2.4rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.navbarlist li a {
    text-decoration: none;
    letter-spacing: 3px;
    color: whitesmoke;
    transition: 0.5s;
}
.navbarlist li :hover{
    color: black;
}
.hamburgerbutton{
    display: none;
}
.hamburgerlist{
    display: none;
}

@media (max-width:768px) {
    .navbar{
        display: flex;
        justify-content: space-evenly;
        background: rgba(18, 15, 28, 0.8) !important;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    }
    .hamburgerbutton{
        display: block;
        background: transparent;
        border: none;
        height: 50px;
        width: 50px;
        color: whitesmoke;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .hamburgerlist{
        display: none;
        gap: 10px;
        list-style: none;
        margin-left: 20px;
    }
    .hamburgerlist.open{
        display: flex;
        flex-direction: column;
        background-color: rgba(38, 0, 255, 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 5px;
        padding: 10px;
    }
    .hamburgerlist li{
        font-size: 0.9rem;
        font-family: 'Stardom-Regular', serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    .hamburgerlist li a {
        text-decoration: none;
        letter-spacing: 1px;
        color: whitesmoke;
        transition: 0.5s;
    }
    .navbarlist{
        display:none;
    }
}