.discography{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "discoh2"
                         "discooptions"
                         "discocards";
    gap: 90px;
    padding: 50px;
    
}
.discographyh2{
    grid-area: discoh2;
    color: #E0E0E0;
    text-align: center;
    font-size: 5rem;
    font-family: serif;
    letter-spacing: 2px;
    
}
.searchfilter{
    grid-area: discooptions;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 7px;
    justify-content: center;
}
.searchfilter button{
    border-radius: 50px;
    padding: 8px 24px;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Times New Roman', Times, serif;
    
}
.searchfilter button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: white;
  transform: translateY(-2px);
}
.searchfilter button:active {
  background: #ff5e5e; 
  border-color: transparent;
  box-shadow: 0 0 10px rgba(255, 94, 94, 0.5);
}
.discographycards{
    grid-area: discocards;
    display: flex;
    flex-wrap: wrap;      
    justify-content: center; 
    gap: 30px;        
    padding: 40px;
    background-color: #1A1625;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.discographycards img{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .discography{
        width: 100%;
        min-width: 0;
        gap: 30px;
        padding: 20px;
    }
    .discographyh2{
        margin-top: 40px;
        font-size: 1.3rem;
    }
    .searchfilter button{
        padding: 4px 10px;
        font-size: 0.8rem;
    }
}