.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header nav"
                         "main main"
                         "footer footer";

    min-height: 100vh;
    background-color: hsl(256, 25%, 12%);
}

.mainheader{
    grid-area: header;
}
.navbar{
    grid-area: nav;
}
main{
    grid-area: main;
}
.mainfooter{
    grid-area: footer;
}
@media (max-width:768px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
                             "header nav"
                             "main main"
                             "footer footer";                
    }
    .mainheader {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color:hsl(256, 25%, 12%);
    }
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
    }
    main{
        min-height: 100vh;
    }
}